<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.EmployeeDao">
	
	<insert id="insertEmployee" parameterType="int">
		insert into
			employees(
				e_name,
				e_real_name,
				e_password,
				e_sex,
				e_age,
				e_education,
				e_photo_number,
				e_email,
				e_entry_date,
				e_type,
				e_d_id,
				e_p_id,
				e_political_status,
				e_hobby,
				e_remark
			)
		values(
			#{eName},
			#{eRealName},
			#{ePassword},
			#{eSex},
			#{eAge},
			#{eEducation},
			#{ePhotoNumber},
			#{eEmail},
			#{eEntryDate},
			#{eType},
			#{eDepartment.dId},
			#{ePosition.pId},
			#{ePoliticalStatus},
			#{eHobby},
			#{eRemark}
		)	
	</insert>
	
	<delete id="deleteEmployee" parameterType="int">
		delete from
			employees
		where
			e_id = #{eId}	
	</delete>
	
	<update id="updateEmployee" parameterType="Employee">
		update
			employees
		set
			e_name=#{eName},
			e_real_name=#{eRealName},
			e_password=#{ePassword},
			e_sex=#{eSex},
			e_age=#{eAge},
			e_education=#{eEducation},
			e_photo_number=#{ePhotoNumber},
			e_email=#{eEmail},
			e_entry_date=#{eEntryDate},
			e_type=#{eType},
			e_d_id=#{eDepartment.dId},
			e_p_id=#{ePosition.pId},
			e_political_status=#{ePoliticalStatus},
			e_hobby=#{eHobby},
			e_remark=#{eRemark}	
		where
			e_id = #{eId}
	</update>
	
	<select id="queryEmployeeByEId" parameterType="int" resultMap="EmployeeResultMap">
		select
			*
		from
			employees
		where
			e_id = #{eId}
	</select>
	
	<resultMap type="Employee" id="EmployeeResultMap">
		<id property="eId" column="e_id"/>
		<result property="eName" column="e_name"/>
		<result property="eRealName" column="e_real_name"/>
		<result property="ePassword" column="e_password"/>
		<result property="eSex" column="e_sex"/>
		<result property="eAge" column="e_age"/>
		<result property="eEducation" column="e_education"/>
		<result property="ePhotoNumber" column="e_photo_number"/>
		<result property="eEmail" column="e_email"/>
		<result property="eEntryDate" column="e_entry_date"/>
		<result property="eType" column="e_type"/>
		<result property="ePoliticalStatus" column="e_political_status"/>
		<result property="eHobby" column="e_hobby"/>
		<result property="eRemark" column="e_remark"/>
		<association property="eDepartment" column="e_d_id" select="queryDepartmentByDId"></association>
		<association property="ePosition" column="e_p_id" select="queryPositionByPId"></association>
	</resultMap>
	
	<select id="queryDepartmentByDId" parameterType="int" resultType="Department">
		select
			* 
		from
			departments 
		where
			d_id = #{dId}
	</select>
	
	<select id="queryPositionByPId" parameterType="int" resultMap="PositionResultMap" >
		select
			* 
		from
			positions 
		where
			p_id = #{pId}
	</select>
	
	<resultMap type="Position" id="PositionResultMap">
		<id property="pId" column="p_id"/>
		<result property="pName" column="p_name"/>
		<result property="pCreateTime" column="p_create_time"/>
		<result property="pType" column="p_type"/>
		<result property="pBaseSalary" column="p_base_salary"/>
		<association property="pDepartment" column="p_d_id" select="queryDepartmentByDId"></association>
	</resultMap>
	
	<select id="queryEmployeeByEName" parameterType="String" resultMap="EmployeeResultMap">
		select
			*
		from
			employees
		where
			e_name = #{eName}
	</select>
	
	<select id="queryEmployeeByENameAndEPassword" parameterType="String" resultMap="EmployeeResultMap">
		select
			*
		from
			employees
		where
			e_name = #{eName}
		and
			e_password = #{ePassword}	
	</select>
	
	<select id="queryEmployeeByEDId" parameterType="int" resultMap="EmployeeResultMap">
		select
			*
		from
			employees
		where
			e_d_id = #{eDId}
	</select>
	
	<select id="queryEmployeeByEPId" parameterType="int" resultMap="EmployeeResultMap">
		select
			*
		from
			employees
		where
			e_p_id = #{ePId}
	</select>
	
	<select id="queryAllEmployee" resultMap="EmployeeResultMap">
		select
			*
		from
			employees
	</select>
	
</mapper>