<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.RecruitmentMessageDao">
	
	<insert id="insertRecruitmentMessage" parameterType="RecruitmentMessage">
		insert into
			recruitmentmessages(
				rm_d_id,
				rm_p_id,
				rm_message,
				rm_create_date,
				rm_type
			)
		values(
			#{rmDId},
			#{rmPId},
			#{rmMessage},
			#{rmCreateDate},
			#{rmType}
		)	
	</insert>
	
	<delete id="deleteRecruitmentMessage" parameterType="int">
		delete from
			recruitmentmessages
		where
			rm_id = #{rmId}	
	</delete>
	
	<update id="updateRecruitmentMessage" parameterType="RecruitmentMessage">
		update 
			recruitmentmessages
		set
			rm_d_id=#{rmDId},
			rm_p_id=#{rmPId},
			rm_message=#{rmMessage},
			rm_create_date=#{rmCreateDate},
			rm_type=#{rmType}
		where
			rm_id = #{rmId}		
	</update>
	
	<select id="queryRecruitmentMessageByRmId" parameterType="int" resultType="RecruitmentMessage">
		select
			*
		from
			recruitmentmessages
		where
			rm_id = #{rmId}
	</select>
	
	<select id="queryRecruitmentMessageByRmDId" parameterType="int" resultType="RecruitmentMessage">
		select
			*
		from
			recruitmentmessages
		where
			rm_d_id = #{rmDId}
	</select>
	
	<select id="queryRecruitmentMessageByRmPId" parameterType="int" resultType="RecruitmentMessage">
		select
			*
		from
			recruitmentmessages
		where
			rm_p_id = #{rmPId}
	</select>
	
	<select id="queryAllRecruitmentMessage" resultType="RecruitmentMessage">
		select
			*
		from
			recruitmentmessages
	</select>
	
</mapper>